# Swap files
.*.swp
.*.swo

# Dependency Directories
node_modules/

# Build Directories
build/

# Optional eslint cache
.eslintcache

# Yarn integrity file
.yarn-integrity

# OSX Specific meta files
.DS_Store

# dotenv environment variables file
.env
